<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>

<body>
<div class="container my-5">
    <h3> Add User</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/admin/createUser}" th:object="${user}" method="post">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Name</label>
                            <input type="text" th:field="*{name}" class="form-control"
                                   id="name" placeholder="Name" />
                            <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="password" class="col-form-label">Password</label>
                            <input type="password" th:field="*{password}" class="form-control"
                                   id="password" placeholder="Password" />
                            <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                        </div>

                        <div class="form-group col-md-8">
                            <label for="roles" class="col-form-label">Roles:
                                <input type="checkbox"
                                       th:each="role : ${allRoles}"
                                       th:text="${role.role}"
                                       th:value="${role.id}"
                                       th:field="*{roles}"
                                       id="roles" placeholder="Roles"
                                />
                            </label>
                            <div style="color:red" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></div>
                        </div>

                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value=" Submit ">
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>
